[user]
	name = YOUR NAME 
	email = you@example.com
[github]
	user =  YOURGITHUBNAME
	token = 123456
	email = you@example.com 

[apply]
	whitespace = nowarn

[merge]
	tool = vimdiff 


[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = cyan bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green 
	changed = yellow
  untracked = red
  updated = magenta
  branch = green 

[log]
  date = short 

[alias]
  la = "!git config -l | grep alias | cut -c 7-"
  st = status -sb
  fs = "!git fetch --all && git status -sb && git diff --stat"
  s = status --short --branch --ignore-submodules=untracked
  l = log --graph --oneline --format="format:%C(green)%h%C(reset)%x09%C(red)%ad%C(reset)%x09%s%x09%C(cyan)%d%x09%C(yellow)%ae"
  amend = commit --amend --no-edit
  current = !(git status -sb >/dev/null && echo 'clean: \\c' || echo 'dirty: \\c') && echo `git log -1 '--pretty=format:%H %ai'`
  ci = commit -a
  br = branch
  pr = pull --rebase
  co = checkout
  cb = checkout -b
  df = diff --stat
  lp = log -p
  da = diff --abbrev --minimal -M -C -D -b
  dc = !git diff --cached --diff-filter=AMCR
  di = !git diff --diff-filter=AMCR
  dl = !git diff --color | less -R
  onelog = log --graph --oneline 
  hist = !git l --date=iso
  showfiles = show --stat

[push]
	default = matching
