*.gz
*.zip
*.sw*
*.pyc
dotfiles-backup*.tar.gz

vim/rc.d/original.tar.gz
vim/view
vim/LICENSE.EnhancedCommentify
vim/README.bashsupport
vim/bash-support
vim/doc/
vim/GetLatest/
vim/.VimballRecord
vim/viminfo
vim/rc.d/.netrwhist
