# This is a sample configuration file for the dotfiles framework. Rename
# it to dotfiles.conf for actual use.

# Tab-separated index, mapping <user@host.network> to various tags
# Whitespace is interpreted as a field separator, so don't use spaces in your tag names.
#
# Tags can be negated with a leading exclamation mark `!'. There are expandable tags that
# change their name depending on the environment they are in. Expandable tags are prefixed with
# a `%' and currently the following are supported:
#   %system     The operating system type (linux, etc.)
#   %dist       Linux distribution (debian, gentoo, etc.)
# Furthermore, substitutions are always lowercase and stripped-down to alphanumeric characters.
#
# First field is interpreted as a regular expression against the current user@host environment.
#
#
# EXAMPLES
#
# // tag every box with `generic'
# .*@.*                         generic
#
# // some servers
# .*@(xantorini|shad)           server %dist
# .*@xantorini                  debian-server
#
# // tag all my homeboxes accordingly
# .*@.*\.home                   home awesome
#
# // if logged in as myself, add private tag everywhere
# samba@.*                      private
#
# // but remove the private tag on my work box
# samba@.*\.work                !private awesome
#
# // host starting with lame cannot be awesome
# .*@lame                       !awesome
#
#
# Actual user@host -> tags
#
# samba@box.home        -> generic home awesome private
# samba@box.work        -> generic awesome
# samba@lamebox.home    -> generic home private
# samba@xantorini.home  -> generic server debian debian-server home awesome private
# root@shad             -> generic server gentoo


# <user@host>                   tags

